/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */

html{
min-height: 100%;
background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat:no-repeat;
background-size:cover;

}
.grid-container{
  display:grid;
}
.grid-item{

}



.goal{
  width:50%;
  height:30px;
  background-color:#054D88;
  text-align: center;
  line-height:30px;
  color: white;
}
.btn{
  background-color:#0861AB;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    box-shadow:7px 5px 10px black;
    cursor:pointer;

  -webkit-transition:0.4s;
  transition-duration:0.4s;
}
.btn:hover{
  background-color:#110E91;
}
